{% extends 'base.html.twig' %}

{% block title %}Hello ParentController!{% endblock %}

{% block body %}


  <div class="jumbotron" >
    <h1 class="display-3">Bienvenue a la Platforme KidsClub</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <div class="row justify-content-start">

    <p class="lead ">
      <a class="btn btn-primary btn-lg" href="/spaceparent" role="button">Espace Parent</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Espace Manager</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Espace Admin</a>
    </p>
 
    </div> 
    <br>
      <br> 
  <p class="lead ">
    <a class="btn btn-primary btn-lg" href="/inscriptionparent" role="button">Inscription Parent</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription Manager</a>
  </p>
</div>

  

{% endblock %}
