{% extends "base.html.twig" %}

{% block body %}
<h1>Inscription Parent :</h1>
<div class="container">

<form action="" method="post">

    <div class="form-group">
        <label >Nom</label>
        <input type="text" name="Nom" class="form-control" placeholder="Nom">
      </div>
      <div class="form-group">
        <label>Prenom</label>
        <input type="text" name="Prenom" class="form-control" placeholder="Prenom">
      </div>
      <div class="form-group">
        <label >Age</label>
        <input type="number" name="Age" class="form-control" placeholder="Age">
      </div>
      <div class="form-group">
        <label >Telephone</label>
        <input type="text" name="Telephone"  class="form-control" placeholder="Telephone">
      </div>
      <div class="form-group">
        <label >Adresse</label>
        <input type="text" name="Adresse" class="form-control" placeholder="Adresse">
      </div>
      <div class="form-group">
        <label >Gouvernerat</label>
        <input type="text" name="Gouvernerat" class="form-control" placeholder="Gouvernerat">
      </div>
      <div class="form-group">
        <label >Code Postal </label>
        <input type="text" name="CodePostal" class="form-control"  placeholder="Code Postal ">
      </div>
      
      <button type="submit" class="btn btn-primary">Enregistrer      </button>
</form>
</div>


{% endblock %}